@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: linear-gradient(90deg, rgba(11,0,36,1) 0%, rgba(102,9,121,1) 67%, rgba(122,0,255,1) 100%); 
  font-family: Roboto, Helvetica, sans-serif;
}
